<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>

<div align="center">
  <h1> Create New Blog</h1>
  <form action="/save" method="post" th:object="${blog}">
    <div class="mb-3">
      <label> Title</label>
      <input type="text"  th:field="*{title}" class="form-control" style="width: 20vw;">
    </div>
    <div class="mb-3">
      <label> Content</label>
      <textarea  type="text"  th:field="*{content}" class="form-control" style="width: 30vw;height: 30vw"></textarea>
    </div>
    <div class="mb-3">
      <label> Writer</label>
      <input type="text"  th:field="*{writer}" class="form-control" style="width: 20vw;">
    </div>
    <div>
      <label> Category</label>
      <select th:field="*{category}" class="form-control" style="width: 10vw">
        <option th:each="category: ${categoryList}"
        th:text="${category.categoryName}"
        th:value="${category.categoryId}">
        </option>
      </select>
    </div>
    <button type="submit" class="btn btn-outline-success" style="text-align: center">Create</button>
    <a th:href="@{/}">
      <button type="button" class="btn btn-outline-secondary">Back</button>
    </a>
  </form>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
</body>
</html>